---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all | filterPostList -%}
    {%- if page.url and page.url != '/sitemap.xml' -%}
      <url>
        <loc>https://amsecure.sk{{ page.url | url }}</loc>
        <lastmod>{{ page.date | w3DateFilter }}</lastmod>
        <changefreq>{% if page.url == '/' %}weekly{% else %}monthly{% endif %}</changefreq>
        <priority>{% if page.url == '/' %}1.0{% else %}0.8{% endif %}</priority>
      </url>
    {%- endif -%}
  {%- endfor -%}
</urlset>
